body {
    background-color: #000;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    
}

a:link, a:visited {
    color: #ffc62d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #fc5300;
    text-decoration: none;
}

a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
    text-decoration: none;
    border: 0;
    background-color: inherit;
    color: transparent;
}

.header {
    margin: 24px 0 8px 0;
    text-align: center;
}

.navbar {
    background-color: #000;
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid #000;
    width: 450px;
    border-radius: 10px;*/
}

.navbar img {
    float: left;
}

.navbar a:link, .navbar a:visited {
    display: block;
    padding: 6px 15px;
    margin: 0 4px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 0px solid white;
}

.navbar a:hover, .navbar a.current:link, .navbar a.current:visited {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    /*border-radius: 25px 10px / 10px 25px;*/
    border: 0px solid black;
}

.navbar ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}

.navbar li {
    float: left;
    margin: 0px 0px;
    margin-top: 7px;
    padding: 0;
	list-style-type: none;
}

.content {
    width: 420px;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 20px 0;
}

a img {
    margin: 0px;
    border-radius: 4px;
}

p {
    line-height: 150%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 16px;
    }
    .content {
        width: 300px;
        margin: 0 auto;
    }
    iframe {
        max-width: 300px;
        max-height: 225px;
    }
    .header {
        margin: 16px 0 0px 0;
    }
    .navbar a:link, .navbar a:visited {
        padding: 7px 8px;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
}